params {
    outdir = './results'

    genomes {
        'mm9lambda' {
            db = '/mnt/data/gdata/mouse/mm9/mm9lambda/'
        }

        'GRCm39lambda' {
            db = '/mnt/data/gdata/mouse/GRCm39/GRCm39lambda/'
        }
    }
}

singularity.enabled = true

trace {
  overwrite = true
}

report {
  overwrite = true
}