params {
    outdir = './results'

    genomes {
        'hg19' {
            db = '/mnt/data/data_jj/jj4/rrbs/tools/genomes/hg19lambda/'
        }

        'mm9lambda' {
            db = '/mnt/data/data_jj/jj4/rrbs/tools/genomes/mm9lambda/'
        }

        'GRCm38lambda' {
            db = '/mnt/data/gdata/mouse/GRCm38lambda/'
        }
    }
}